@import "/src/scss/common/variables";

img {
  max-width: 100%;
  height: auto;
}

a {
  color: $graphite-grey;
  text-decoration: none;
}

body {
  background-color: $light-grey;
  color: $graphite-grey;
}
