// Light theme

// Background colors
$light-grey: #f2f2f2 !default;
$off-white: #fafafa !default;
$gray-gradient-start: #eaeaea !default;
$gray-gradient-end: #acacac !default;

// Accent colors
$soft-steel-blue: #a1b5d8 !default;
$brushed-silver: #d9d9d9 !default;
$light-teal: #b3e5e5 !default;
$graphite-grey: #4a4a4a !default;

// Highlight colors
$pale-blue-grey: #9abad9 !default;
$muted-turquoise: #a8dadc !default;
$cool-lavender: #c5cae9 !default;

// Dark theme

// Background colors
$deep-charcoal: #1c1c1c !default;
$dark-navy: #0d1b2a !default;
$charcoal-gradient-start: #1a1a1a !default;
$charcoal-gradient-end: #1c1c1c !default;

// Accent colors
$neon-cyan: #00f5ff !default;
$electric-blue: #3a86ff !default;
$purple: #9d4edd !default;
$magenta: #ff007f !default;

// Highlight colors
$neon-green: #39ff14 !default;
$electric-pink: #ff48c4 !default;
$bright-yellow: #ffdd33 !default;
$neon-purple: #bc13fe !default;

//Box shadows

$box-shadow-card-elements:
  inset 0 -2px 5px rgba(0, 0, 0, 0.1),
  0 2px 4px rgba(0, 0, 0, 0.1);
