@import "/src/scss/common/variables";

.tagsContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 0 0.75rem;
  margin: 0.25rem;
}

.tags {
  background-color: $soft-steel-blue;
  max-width: fit-content;
  padding: 0.25rem 0.5rem;
}
